%h1= @title

= form_for User.new, :url => forgot_password_path, :method => :post, :remote => true do |f|
  .help-block= t('users.reset_password_hint')
  .control-group
    = f.text_field :email, :class => 'input-medium'
  = f.submit (t :send), :disable_with => t(:sending), :class => 'btn btn-primary btn-large'
 
