%h1= t('users.enter_new_password')

= form_for @user, :url => reset_password_path, :validate => true do |f| 
  .control-group
    = f.label :password
    = f.password_field :password, :class => 'input-medium'
  .control-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'input-medium'
  = f.submit (t :save), :class => 'btn btn-primary btn-large'
